html
  head
    title BlackBook
    link(href='/static/css/home.css' rel='stylesheet')
    link(href='/static/css/auth.css' rel='stylesheet')
    link(href='/static/css/contactIndex.css' rel='stylesheet')
    link(href='/static/css/contactShow.css' rel='stylesheet')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
    div(id='root')
    script(src='/static/bundle.js' type='text/javascript')
