#contact-show-image {
  width: 225px;
  height: 225px;
}

#show-content {
  width: 395px;
  margin-left: 5px;
}

#edit-button-wrapper {
  position: relative;
  /*left: 50px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#edit-button-wrapper span {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
}

#file-select {
  visibility: hidden
}

.fa-camera {
  margin-top: 10px;
  font-size: 30px;
}

.fa-camera:hover {
  cursor: pointer;
}

.fa-camera::before {
  padding: 10px;
  border-radius: 4px;
  color: white;
  background: black;
}

.fa-pencil-square:hover {
  cursor: pointer;
}

.fa-trash, .fa-pencil-square {
  margin-right: 5px;
}

.fa-trash:hover {
  cursor: pointer;
}
