.contact {
  border: 1px solid lightgrey;
  margin-top: 10px;
  display: flex;
  text-decoration: none;
  padding: 5px;
}

#contact-list {
  width: 700px;
  margin: 0 auto;
}

.contact-image {
  width: 75px;
  height: 75px;
}
