.contact {
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 2px;
  margin-top: 10px;
  display: flex;
  text-decoration: none;
  padding: 5px;
}

.contact:hover {
  box-shadow: none;
  border: 1px solid black;
}

#contact-list {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contact-image {
  width: 225px;
  height: 225px;
}

.contact-content {
  margin-left: 10px;
}

#no-contacts {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#filter-container {
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

#filter {
  border-radius: 4px;
  resize: none;
  border-radius: 4px;
  border: 1px solid lightgrey;
  width: 540px;
  height: 30px;
  margin: 0 auto;
  margin-right: 10px;
  font-size: 20px;
  display: block;
}


#open-button {
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  color: white;
  background: black;
  font-weight: 900;
}

#open-button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form span {
  display: flex;
  flex-direction: column;
}

#contacts-form {
  width: 350px;
  margin: 0 auto;
}

.ReactModal__Content, .ReactModal__Content--after-open {
  width: 400px;
  height: 350px;
  margin: 0 auto;
  background-color: black;
}

.ReactModal__Content {
  background-color: black;
}

.fa-times-circle {
  position: relative;
  right: 1px;
  float: right;
}

.fa-times-circle:hover {
  cursor: pointer;
}

form span {
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type='text'], input[type='password'] {
  border-radius: 4px;
  border-style: none;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px #888888;
}


form textarea {
  resize: none;
  border-radius: 4px;
  border-style: none;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px #888888;
  width: 300px;
}

form input[type='text']:hover, form textarea:hover, form input[type='password']:hover {
  box-shadow: none;
  border: 1px solid black;
}

form input[type='submit'] {
  width: 150px;
  margin: 0 auto;
  color: white;
  background: black;
  border-style: none;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
}

form input[type='submit']:hover {
  cursor: pointer;
}

#notes-container {
  margin-top: 10px;
  display: flex;
}

#index-notes {
  border: 1px solid lightgrey;
  width: 350px;
  /*height: 40px;*/
  padding: 5px;
  border-radius: 4px;
}

#show-notes {
  border: 1px solid lightgrey;
  width: 450px;
  height: 60px;
  padding: 5px;
  border-radius: 4px;
}

.contact-field {
  margin-top: 5px;
}

.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

input[type='file']:hover {
  cursor: pointer;
}
